$PrimaryColorBlue: #0074c4;
$NeutralColorBlack: black;
$NeutralColorWhite: white;
$SecondaryColor: #f2f2f2;
$StyleSeparator: 1px solid #cccccc;
$MarqueeColor: #272727;
$SubhColor: #333333;
$TitleModuleColor: #1c1f1f;