@import "../../../styles/_colors.scss";
@import "../../../styles/_globals.scss";

.article {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  font: inherit;
}

.wrap-art {
  padding-top: 6px;
}

.img-autor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  img {
    width: 80px;
    height: 80px;
  }
}

.lead-title {
  font-family: SuecaSlab-Medium;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.2px;
  margin: 0px;
  padding-bottom: 8px;
}

.lead {
  text-decoration: none;
  color: $PrimaryColorBlue;
}

.title {
  text-decoration: none;
  color: $NeutralColorBlack;
}

.art-img {
  img {
    width: 100%;
  }
}

.nameautor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.marq {
  font-family: Arial;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.subh {
  margin: 0px;
  padding-bottom: 8px;
  font-family: SuecaSlab-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: $SubhColor;
}
